jsonedit-test/.settings/*
jsonedit-core/.settings/*
jsonedit-feature/.settings/*
jsonedit-core/target/*
jsonedit-test/target/*
jsonedit-feature/target/*
jsonedit-core/.project
jsonedit-test/.project
jsonedit-core/.classpath
jsonedit-test/.classpath
jsonedit-feature/.project
jsonedit-repository/.project
jsonedit-repository/.settings/*
/.project
/.settings/*
target
*.class
