
org.sourceforge.jsonedit.core/bin/*
org.sourceforge.jsonedit.test/bin/*

org.sourceforge.jsonedit.test/.settings/*
org.sourceforge.jsonedit.core/.settings/*

org.sourceforge.jsonedit.core/target/*
org.sourceforge.jsonedit.test/target/*

org.sourceforge.jsonedit.feature/target/*
org.sourceforge.jsonedit.core/.project
org.sourceforge.jsonedit.test/.project
org.sourceforge.jsonedit.core/.classpath
org.sourceforge.jsonedit.test/.classpath
org.sourceforge.jsonedit.feature/.project

/.project
/.settings/*
