<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="antlr" sequenceNumber="6">
<locations>
<location path="E:\GitHub\eclipse_minimal" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.antlr.v4.feature.group" version="4.7.1"/>
<repository location="http://martin-steiger.de/antlr47"/>
</location>
</locations>
</target>
