<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.boothen.jsonedit.core.editors.JsonPageEditor"
            contributorClass="com.boothen.jsonedit.core.editors.JsonPageEditorContributor"
            default="true"
            extensions="json"
            icon="src/main/resources/icons/JsonFile.gif"
            id="com.boothen.jsonedit.core.editors.JsonPageEditor"
            name="Json Editor"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
         <contentTypeBinding
               contentTypeId="com.boothen.jsonedit.core.jsonsource">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Json.format"
            name="format">
      </category>
      <command
            categoryId="Json.format"
            description="Format Json Text"
            id="Json.formatText"
            name="Format Text">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#JsonTextEditorContext?after=additions">
         <command
               commandId="Json.formatText"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.boothen.jsonedit.core.editors.JsonPageEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="Json.formatText"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.boothen.jsonedit.core.editors.JsonPageEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.boothen.jsonedit.core.handlers.FormatTextHandler"
            commandId="Json.formatText">
      </handler>
   </extension>
   <extension
         id="com.boothen.jsonedit.validation.builder"
         name="Json Validator"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false">
         <run
               class="com.boothen.jsonedit.validation.IncrementalJsonValidator">
         </run>
      </builder>
   </extension>
   <extension
         id="com.boothen.jsonedit.validation.nature"
         name="Json Validation Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.boothen.jsonedit.validation.nature.JsonValidationNature">
         </run>
      </runtime>
      <builder
            id="com.boothen.jsonedit.validation.builder">
      </builder>
   </extension>
   <extension
         id="com.boothen.jsonedit.validation.marker"
         name="JSON Validation"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="key">
      </attribute>
      <attribute
            name="violation">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.boothen.jsonedit.preferences.WorkbenchPreferencePage"
            id="com.boothen.jsonedit.preferences.WorkbenchPrefencePage"
            name="Json Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.boothen.jsonedit.preferences.ProjectPropertiesPage"
            id="com.boothen.jsonedit.preferences.properties"
            name="Json Properties">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="json"
            id="com.boothen.jsonedit.core.jsonsource"
            name="Json Source"
            priority="high">
      </content-type>
   </extension>

</plugin>
